body {
  background: #ffffe5;
  font-family: poppins;
}

input[type=number] {
  width: 100px;
  border: solid 1px #c77802;
  padding: 5px 8px;
  border-radius: 5px;
}

.LoadAnim {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  background: white;
  margin: 0;
  display: flex;
}
.LoadAnim > div {
  margin: auto;
  text-align: center;
  font-size: 25px;
  color: #d1820a;
}
.LoadAnim > div img {
  height: 200px;
  animation: imgch 1s infinite cubic-bezier(0.99, -0.02, 0.53, 0.32);
}

@keyframes imgch {
  0% {
    filter: blur(0) brightness(1);
  }
  100% {
    filter: blur(100px) brightness(15);
  }
}
nav {
  position: fixed;
  top: 0;
  background: white;
  width: 100%;
  left: 0;
  height: max-content;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media (max-width: 500px) {
  nav {
    justify-content: center;
  }
}
nav > * {
  margin: 10px 30px;
}
nav ul {
  display: flex;
}
nav ul li {
  margin: 15px;
  display: flex;
  padding: 5px 15px;
  cursor: pointer;
}
nav ul li svg {
  height: 1em;
  margin: auto;
  margin-right: 5px;
}
nav ul li:hover {
  background: rgba(255, 196, 0, 0.103);
}
nav ul li.Act {
  background: #ffc400;
}

button {
  display: flex;
  border: none;
  font-size: 18px;
  padding: 5px 15px;
  background: #8a1d02;
  color: white;
  border-radius: 15px;
  cursor: pointer;
}
button svg {
  width: 1em;
  fill: white;
  height: 1em;
  margin: auto;
  margin-right: 5px;
}
button:hover {
  transition: 0.5s;
  background: #aa2503;
  box-shadow: rgba(255, 0, 0, 0.541) 0px 0 10px 0px;
}

.Cirfs {
  overflow: auto;
  width: 100%;
  height: calc(100vh - 80px);
  margin-top: 70px;
  width: 100%;
  display: flex;
  flex-direction: row;
}
.Cirfs button {
  height: 30px;
  border-radius: 5px;
  width: 30px;
  background: white;
  display: grid;
  place-content: center;
}
.Cirfs button svg {
  fill: #c35757;
  margin: auto;
}
.Cirfs a {
  text-decoration: none;
}
.Cirfs > div {
  margin: auto;
}
.Cirfs > div > div {
  margin-top: 30px;
  overflow: auto;
  width: 900px;
  height: 630px;
}

.LinkProv {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}
.LinkProv > div {
  margin: auto;
  display: flex;
  flex-direction: column;
  width: 60%;
}
.LinkProv img {
  width: 70%;
  max-width: 250px;
  margin: 20px auto;
  mix-blend-mode: darken;
}
.LinkProv input[type=text] {
  border: none;
  font-size: 25px;
  padding: 8px 18px;
  width: 70%;
  max-width: 250px;
  margin: auto;
  outline: none;
  box-shadow: #6d59012c 0px 0px 5px 5px;
  margin-bottom: 10px;
}
.LinkProv ._link {
  display: flex;
  text-align: center;
}
.LinkProv ._link * {
  text-align: center;
  width: 100%;
}
.LinkProv ._link a {
  color: #d6a852;
}